<div class="row justify-content-center">
  <h4>Success!! PLEASE USE THE URL LINK</h4>
</div>
<div class="col">
  <div class="row justify-content-center">
    <a>{{origin}}</a>
  </div>
  <div class="row justify-content-center">
    <button class="btn btn-primary">Copy it</button>
  </div>

</div>