<form method="POST" action="/result">
  <div class="row justify-content-center mt-5">
    <input type="text" placeholder="Input the URL:URL translate to Short URL" name="origin" required id="origin"
      style="width: 100%;">
  </div>
  <div class="row justify-content-center mt-2">
    <button type="submit" class="btn btn-outline-primary">press</button>
  </div>
</form>